.Weather {
    border: 1px solid #37474f;
    padding: 50px;
    border-radius: 20px;
    background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);
}

.Weather form {
    margin-bottom: 20px;
}

.Weather h1 {
    color: #eeeeee;
    display: block;
    font-size: 24px;
    font-weight: 100;
    line-height: 29px;
    margin: 20px 0 0 0;
}

.Weather ul {
    margin: 0;
    padding: 0;
}

.Weather li {
    color: #eeeeee;
    display: block;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
}

.Weather img {
    height: 64px;
    display: inline-block;
    margin-right: 10px;
    width: 64px;
}

.Weather .temperature {
    color: #eeeeee;
    font-size: 64px;
    font-weight: 400;
    line-height: 64px;
}

.Weather .units {
    color: #eeeeee;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: -34px;
    margin-left: 5px;
    line-height: 1;
}